[Desktop Entry]
Name=LXQt Organizer
GenericName=Personal Information Manager 
GenericName[de]=Personal Information Manager
GenericName[es]=Gerente de información personal
GenericName[fr]=Gestionnaire d'informations personnelles
GenericName[ja_JP]=個人情報管理 Qt
GenericName[pl]=Menedżer danych osobowych
GenericName[pt]=Gerente de Informações Pessoais
GenericName[tr]=Kişisel Bilgi Yöneticisi
GenericName[zh_CN]=个人信息经理
Comment=Keeps track of appointments and tasks
Comment[de]=Verfolgt Termine und Aufgaben
Comment[es]=Realiza un seguimiento de las citas y tareas
Comment[fr]=Assure le suivi des rendez-vous et des tâches
Comment[ja_JP]=予定とタスクを管理します
Comment[pl]=Śledzi terminy i zadania
Comment[pt]=Mantém o controle de compromissos e tarefas
Comment[tr]=Randevuları ve görevleri takip eder
Comment[zh_CN]=跟踪约会和任务
TryExec=lxqt-organizer
Exec=lxqt-organizer %F
Icon=plan
Terminal=false
Type=Application
MimeType=application/x-sharedlib;
Categories=Qt;Utility;Application;
X-KDE-StartupNotify=false;
Keywords=Organizer;Appointments;Notifications;PIM;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Name[de]=Neues Fenster
Name[ja_JP]=新しいウィンドウ
Exec=/usr/local/lxqt-organizer --win

